# Dart / Flutter related
.dart_tool/
.packages
.buildlog/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Dependency lock file (keep if you want reproducible builds)
pubspec.lock

# Documentation
doc/api/

# dotenv environment variables file
.env*

# Avoid committing generated Javascript files
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map

# Android related
.gradle/
local.properties
GeneratedPluginRegistrant.java
*.apk
*.aar
*.ap_
*.dex
*.class
*.jar
*.keystore

# iOS related
ios/

# Web related
web/

# Desktop builds
windows/
macos/
linux/

# IDE / Editor configs
.idea/
.vscode/
*.iml

# Misc
*.log
